.postContainer{
    width: 550px;
    height: 550px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    scroll-behavior: smooth;
    position: relative;
    overflow-x: scroll;

}

.postContainer::-webkit-scrollbar {
    display: none;
  }

  .post_header{
      height: 50px;
      width: 550px;
      background-color: white;
      margin-top: 30px;
      display: flex;
      flex-direction: row;
      align-items: center;
  }

  .post_image{
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-left: 15px;

  }

  .post_creator{
      margin-left: 20px;
      font-size: 14px;
      font-weight: 900;
  }

  .three_dots{
      margin-left: 75%;
      cursor: pointer;
  }

  .slide{
      width: 100%;
      height: 100%;
  }

  .videoplayer{
      width: 550px;
      height: 550px;
  }

.image{
    width: 550px;
    height: 550px;
    min-width: 550px;
    min-height: 550px;
}

.arrowRight{
    position: sticky;
    top: 47%;
    right: 5%;
    height: 18px;
    width: 60px;
    border-radius: 50%;
    background-color: rgb(252, 252, 252);
}

.arrowLeft{
    position: sticky;
    top: 47%;
    left: 5%;
    height: 20px;
    width: 18px;
    border-radius: 50%;
    background-color: rgb(252, 252, 252);
}

.post_bottom{
    width: 550px;
    height: 200px;
    background-color: white;
    padding-top: 20px;
}

.post_react{
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
}

.post_react_buttons{

}

.heart{
    margin-right: 15px;
}

.chat{
    margin-right: 15px;
    transform: rotate(270deg);
}

.airplane{
    margin-right: 15px;
    transform: rotate(55deg);
    margin-bottom: 4px;
}


.bubble{
    display: flex;
    flex-direction: row;
    flex-direction: row;
    align-items: center;
    margin-left: 25%;
}

.blue{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: blue;
    margin-right: 5px;
}

.white{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: grey;
    margin-right: 5px;
}

.likes{
    font-size: 12px;
    font-weight: 600;
    margin-top: 10px;
}

.comment{
    font-size: 12px;
    font-weight: 400;
    display: flex;
}

.comment > span{
    font-size: 12px;
    font-weight: 600;
    margin-right: 10px;
}

.other_comments, .date{
    font-size: 12px;
    font-weight: 400;
    margin-top: 5px;
}

.date{

}